<div class="single-device col-md-4">
    <h1>{{device.DeviceName}}</h1>

    <h2 class="lead">Navigation</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-href="#!device#general-information">General Information</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#!device#hardware">Hardware</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#!device#camera">Camera</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#!device#features">Features</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#!device#dimensions">Dimensions</a>
        </li>
        <li class="list-group-item">
            <a ng-href="#!device#connectivity">Connectivity</a>
        </li>
    </ul>

    <br>

    <h2 id="general-information" ng-click="showGeneralInformation = !showGeneralInformation" class="lead">
        <span class="minus" ng-if="showGeneralInformation">&#8854;</span>
        <span class="plus" ng-if="!showGeneralInformation">&#8853;</span>
        General Information
    </h2>
    <table ng-if="showGeneralInformation" class="table table-bordered">
        <tbody>
            <tr>
                <td>Release date</td>
                <td>{{device.announced}}</td>
            </tr>
            <tr>
                <td>OS</td>
                <td>{{device.os}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <h2 id="hardware" ng-click="showHardware = !showHardware" class="lead">
        <span class="minus" ng-if="showHardware">&#8854;</span>
        <span class="plus" ng-if="!showHardware">&#8853;</span>
        Hardware
    </h2>
    <table ng-if="showHardware" class="table table-bordered">
        <tbody>
            <tr>
                <td>Memory</td>
                <td>{{device.internal}}</td>
            </tr>
            <tr>
                <td>CPU</td>
                <td>{{device.cpu}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <h2 id="camera" ng-click="showCamera = !showCamera" class="lead">
        <span class="minus" ng-if="showCamera">&#8854;</span>
        <span class="plus" ng-if="!showCamera">&#8853;</span>
        Camera
    </h2>
    <table ng-if="showCamera" class="table table-bordered">
        <tbody>
            <tr>
                <td>Primary</td>
                <td>{{device.primary_}}</td>
            </tr>
            <tr>
                <td>Secondary</td>
                <td>{{device.secondary}}</td>
            </tr>
            <tr>
                <td>Video</td>
                <td>{{device.video}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <h2 id="features" ng-click="showFeatures = !showFeatures" class="lead">
        <span class="minus" ng-if="showFeatures">&#8854;</span>
        <span class="plus" ng-if="!showFeatures">&#8853;</span>
        Features
    </h2>
    <table ng-if="showFeatures" class="table table-bordered">
        <tbody>
            <tr>
                <td>GPS</td>
                <td>{{device.gps}}</td>
            </tr>
            <tr>
                <td>NFC</td>
                <td>{{device.nfc}}</td>
            </tr>
            <tr>
                <td>3.5 mm jack</td>
                <td>{{device._3_5mm_jack_}}</td>
            </tr>
            <tr>
                <td>Radio</td>
                <td>{{device.radio}}</td>
            </tr>
            <tr>
                <td>Sensors</td>
                <td>{{device.sensors}}</td>
            </tr>
            <tr>
                <td>USB</td>
                <td>{{device.usb}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <h2 id="dimensions" ng-click="showDimensions = !showDimensions" class="lead">
        <span class="minus" ng-if="showDimensions">&#8854;</span>
        <span class="plus" ng-if="!showDimensions">&#8853;</span>
        Dimensions
    </h2>
    <table ng-if="showDimensions" class="table table-bordered">
        <tbody>
            <tr>
                <td>Weight</td>
                <td>{{device.weight}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{device.dimensions}}</td>
            </tr>
            <tr>
                <td>Screen</td>
                <td>{{device.size}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <h2 id="connectivity" ng-click="showConnectivity = !showConnectivity" class="lead">
        <span class="minus" ng-if="showConnectivity">&#8854;</span>
        <span class="plus" ng-if="!showConnectivity">&#8853;</span>
        Connectivity
    </h2>
    <table ng-if="showConnectivity" class="table table-bordered">
        <tbody>
            <tr>
                <td>Sim</td>
                <td>{{device.sim}}</td>
            </tr>
            <tr>
                <td>2G</td>
                <td>{{device._2g_bands}}</td>
            </tr>
            <tr>
                <td>3G</td>
                <td>{{device._3g_bands}}</td>
            </tr>
            <tr>
                <td>Network</td>
                <td>{{device.network_c}}</td>
            </tr>
        </tbody>
    </table>
</div>
