<div>

    <form class="search-wrapper border rounded border-primary" ng-submit="getDevicesList(searchTerm)">
        <input ng-model="searchTerm" class="search" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div ng-if="alert" class="add-to-kiosk-alert alert alert-primary" role="alert">
        {{alert}} has been added to the Kiosk.
    </div>

    <div class="row devices-list">
        <div ng-repeat="device in $ctrl.devices" class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{device.DeviceName}}</h5>
                    <button ng-click="selectDevice(device)" type="button" class="btn btn-block btn-outline-primary">Add to Kiosk</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!$ctrl.devices" class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a Mobile Devices Kiosk App</p>
        <hr class="my-4">
        <p>Use the search form above to list mobile devices</p>
    </div>

</div>
